name: eisenvaultappflutter
description: "EisenVault Desktop - Document Management System"
publish_to: 'none'

version: 1.1.4+114

environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Core Flutter Dependencies
  cupertino_icons: ^1.0.2
  async: ^2.12.0
  provider: ^6.1.5
  
  # Networking and API
  http: ^1.4.0
  http_parser: ^4.0.2
  url_launcher: ^6.1.12
  mime: ^1.0.4
  
  # Logging
  logger: ^2.0.2+1
  
  # PDF Handling
  syncfusion_flutter_pdfviewer: ^29.1.41
  syncfusion_flutter_pdf: ^29.1.41
  syncfusion_flutter_core: ^29.1.41
  syncfusion_flutter_signaturepad: ^29.1.41
  pdf: ^3.11.3
  printing: ^5.14.2
  
  # File System
  path_provider: ^2.1.2
  
  # Sharing
  share_plus: ^10.1.4
  share_plus_platform_interface: ^5.0.2
  
  # Device info and file handling
  device_info_plus: ^11.0.0
  open_file: ^3.5.10
  debounce_throttle: ^2.0.0
  dio: ^5.3.2
  permission_handler: ^11.3.0
  
  # File selection
  file_selector: ^1.0.3

  # Security and storage
  flutter_secure_storage: ^9.2.4
  shared_preferences: ^2.3.2
  connectivity_plus: ^6.1.4
  sqflite: ^2.3.0
  sqflite_common_ffi: ^2.3.2
  path: ^1.8.3
  intl: ^0.20.2
  flutter_svg: ^2.1.0
  package_info_plus: ^8.3.0
  archive: ^4.0.7

  # File Preview Dependencies
  flutter_markdown: ^0.6.18
  flutter_html: ^3.0.0-beta.2
  csv: ^5.1.1
  image_picker: ^1.2.1
  
  # Document Scanning
  # Temporarily removed due to 16KB page size compliance issue with Google ML Kit
  # aio_scanner: ^1.0.3
 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  fake_async: ^1.3.2
  flutter_launcher_icons: ^0.13.1
  msix: ^3.16.9


flutter:
  uses-material-design: true
  assets:
    - assets/images/eisenvault_logo.png

flutter_icons:
  android: true
  ios: true
  image_path: "assets/icon/app_icon_other.png"  # Used for Android
  ios_image_path: "assets/icon/app_icon_ios_flat.png"  # Used for iOS
  #remove_alpha_ios: true  # Important to avoid App Store rejection due to transparent icon

  macos:
    generate: true
    image_path: "assets/icon/app_icon_other.png"

  windows:
    generate: true
    image_path: "assets/icon/app_icon_other.png"

  linux:
    generate: true
    image_path: "assets/icon/app_icon_other.png"

msix_config:
  display_name: EisenVault Desktop
  publisher_display_name: EisenVault
  identity_name: EisenVault.EisenVaultDesktop
  publisher: CN=95E049EA-2EEE-4276-80A1-1B29770CF6A1
  msix_version: 1.1.4.0
  logo_path: assets/icon/app_icon_other.png
  capabilities: "internetClient,privateNetworkClientServer,documentsLibrary"

